body {
    margin: 0; height: 100vh; background: #0a0a0a; color: white;
    font-family: sans-serif; display: flex; justify-content: center; align-items: center;
}

.auth-card {
    background: #1a1a1a; padding: 20px; border-radius: 15px;
    width: 90%; max-width: 400px; text-align: center; display: none;
    max-height: 95vh; overflow-y: auto;
}

.active { display: block; }
.game-container { width: 100%; height: 100%; display: none; flex-direction: column; }
.game-container.active { display: flex; }

.login-box { margin: 15px 0; padding: 10px; background: #222; border-radius: 8px; }
h4 { margin: 5px 0; color: #00b894; font-size: 0.9rem; }

input {
    width: 100%; padding: 10px; margin: 5px 0; border-radius: 6px;
    border: 1px solid #333; background: #111; color: white; box-sizing: border-box;
}

button {
    background: #00b894; border: none; color: white; padding: 12px;
    border-radius: 8px; font-weight: bold; cursor: pointer; width: 100%; margin-top: 10px;
}

.player-zone { flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.p2-zone { transform: rotate(180deg); border-bottom: 1px dashed #333; }
.p1-zone { border-top: 1px dashed #333; }

.center-zone { height: 110px; background: #000; display: flex; justify-content: center; align-items: center; z-index: 10; }
.wallet { font-size: 1.2rem; color: #f1c40f; }
.hidden { display: none !important; }
.btn-play { width: auto; min-width: 90px; margin: 5px; }
#drawn-num { font-size: 2.5rem; color: #00b894; margin-right: 15px; }