/* style.css */
body {
    background: #121212;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: #1e1e1e;
    padding: 25px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    display: none;
    text-align: center;
}

.active { display: block; }
.hidden { display: none; }

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #333;
    background: #252525;
    color: white;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #00b894;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover { background: #55efc4; }

.wallet-bar {
    display: flex;
    justify-content: space-between;
    background: #2d3436;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
}

.btn-exit { width: auto; padding: 5px 10px; background: #d63031; font-size: 10px; }

.result-box {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #00b894;
    border-radius: 10px;
}

#number-circle {
    font-size: 40px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: #00b894;
    margin: 10px auto;
}